*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
}

.nav{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 80px auto;
    border: 1px solid;
    gap: 50px 10px;
}

.link{
    text-decoration: none;
    background-color: steelblue;
    padding: .8em 1.5em;
    color: #fff;
    
}


@media (min-width:600px){
    .nav{
        flex-direction: row;
    }

    
}